
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css">-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../static/css/dashboard.css">


</head>

<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Logout</a></li>-->
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <!--<li class="active"><a href="#">Overview</a></li>-->
                <li><a href="#" th:href="@{/admin/admin}">Admin</a></li>
                <li><a href="#" th:href="@{/user/user}">User</a></li>
            </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin panel</h1>

            <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#userstable" role="tab">Users table</a></li>
                <li><a data-toggle="tab" href="#newuser" role="tab">New user</a></li>
            </ul>

            <div class="tab-content">
                <div id="userstable" class="tab-pane fade in active">
                    <div class="mytext"><p>All users</p> </div>
                    <div class="table-responsive mycol mybord">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${userList}">
                                <td th:text="${user.id}">122</td>
                                <td th:text="${user.name}">Vasya</td>
                                <td th:text="${user.password}">P@ssw0rd</td>
                                <td th:text="${user.role.name}">admin</td>
                                <!--<td><a th:href="@{/admin/edit-user(id=${user.id})}">Edit</a></td>-->
                                <td><button type="button" class="btn btn-info" data-toggle="modal" th:data-target="'#'+${user.id}">Edit</button></td>
                                <td><a th:href="@{/admin/delete-user(id=${user.id})}" class="btn btn-info">Delete</a></td>

                                <!-- Modal -->
                                <td>
                                    <form action="#" th:action="@{/admin/edit-user}" method="post">

                                    <div class="modal fade" th:id="${user.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Edit [[${user.role.name}]] [[${user.name}]] [[${user.password}]]</h4>
                                            </div>


                                            <div class="modal-body">



                                                    <div class="form-group text-center col-lg-4 col-lg-offset-4">
                                                        <label for="id">ID:</label>
                                                        <input readonly="readonly" type="text" class="form-control" id="id" value="15" name="id" th:value="${user.id}">
                                                    </div>

                                                    <div class="form-group text-center col-lg-4 col-lg-offset-4">
                                                        <label for="username1">Username:</label>
                                                        <input type="text" class="form-control" id="username1" name="username" value="Vasya" th:value="${user.name}">
                                                    </div>
                                                    <div class="form-group text-center col-lg-4 col-lg-offset-4">
                                                        <label for="password1">Password:</label>
                                                        <input type="text" class="form-control" id="password1" name="password" value="P@ssw0rd" th:value="${user.password}">
                                                    </div>

                                                    <div class="form-group text-center col-lg-4 col-lg-offset-4">
                                                        <label for="role1">Role:</label>
                                                        <select class="form-control" id="role1" name="role">

                                                            <option th:each="role : ${roleList}"
                                                                    th:selected="${role.id == user.role.id}"
                                                                    th:value="${role.id}"
                                                                    th:text="${role.name}"></option>
                                                        </select>
                                                    </div>

                                                    <!--<div class="form-group">-->
                                                        <!--<input type="text" class="form-control">-->
                                                    <!--</div>-->



                                            </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                    <button type="submit" class="btn btn-primary">Edit</button>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                                    </form>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="newuser" class="tab-pane fade in">
                    <div class="mytext"> <p>Add New User</p> </div>
                    <div class="table-responsive mycol mybord">
                    <div class="text-center col-md-4 col-md-offset-4 myedge">
                    <form action="#" th:action="@{/admin/add-user}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" value="Vasya" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" id="password" value="P@ssw0rd" th:field="*{password}">
                        </div>

                        <div class="form-group">
                            <label for="role">Role:</label>
                            <select class="form-control" id="role" th:field="*{role}">
                                <option value=""> --Select Role-- </option>
                                <option th:each="role : ${roleList}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"></option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">Add New User</button>
                    </form>
                    </div>
                </div>
                </div>




            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->

<!--<script src="../static/js/bootstrap.js"></script>-->
<!--<script src="/js/bootstrap.js"></script>-->
<!--<script src="../../assets/js/docs.min.js"></script>-->
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>-->

</body>
</html>