
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css">-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}" href="../static/css/signin.css">


</head>

<body>

<div class="container">

    <form class="form-signin" th:action="@{/login}" role="form" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript

================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="webjars/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

</body>
</html>